%div.container-fluid
    %div.row 
        = render 'nav'

        %main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
            %div.pt-3.pb-2.mb-3.border-bottom
                %h1 Lecturer Dashboard Home
            %h3.mb-4 Welcome to the lecturer dashboard