!!!
%div.container-fluid.card.shadow-sm.p-4.px-5.some{ style: 'background: rgb(232, 232, 232)' }
// modules here
%div.modules.py-5
    %div.container
        %div.row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3
            %div.col
                %div.card.shadow-sm
                    %div.card-body
                        %p.notestotal.p-1= "#{"X"} notes available"
                        %a{:href => "course_modules/x"}
                            %button.btn.btn-sm.btn-outline-primary
                                %span.pl-1= "View Module"
                                
                        
                    %div.colour