%div.container-fluid
    %div.row 
        = render 'nav'

        %main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
            %div.pt-3.pb-2.mb-3.border-bottom
                %h1 Manage Modules
            // horizontal menu
            %div.container-fluid.mx-0.px-0
                %div.row
                    %div.col-12
                        %ul.nav.nav-tabs
                            %li.nav-item
                                %a.nav-link.active{"aria-current" => "page", :href => "#"} Modules
                            %li.nav-item
                                %a.nav-link{"aria-current" => "page", :href => "#"} Add Module 