- content_for :title, 'Search posts'
.card
  .card-header
    Search posts
  = simple_form_for(:search, url: url_for(action: :search_result)) do |f|
    .card-body
      = f.input :title
    .card-footer
      = f.button :submit, class: 'btn btn-primary'
    
