- content_for :title, 'All categories'

.card
  .card-header
    Manage categories
  - if @categories.empty?
    .card-body
      No categories
  - else
    %table.table
      %thead
        %tr
          %th Name


      %tbody
        - @categories.each do |category|
          %tr
            %td= category.name
            %td
              .text-right
                .btn-group
                  = link_to 'Edit', edit_category_path(category), class: 'btn btn-link'

  .card-footer
    = link_to 'New category', new_category_path, class: 'btn btn-outline-secondary'
